@import url('./modal__container.css');
@import url('./modal__description.css');
@import url('./modal__img-slider.css');
@import url('./modal__img.css');
@import url('./modal__link-btn.css');
@import url('./modal__links.css');
@import url('./modal__title.css');

.modal {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
    background-color: rgba(0,0,0,.7);
    backdrop-filter: blur(5px);
    transition: .3s ease;
}

.modal_open {
    visibility: visible;
    opacity: 1;
}