.modal__link-btn {
    background-color: #ce6262;
    text-align: center;
    color: #fff;
    font-size: 22px;
    font-weight: 300;
    line-height: 22px;
    padding: .5rem 1rem;
    border: none;
    border-radius: 8px;
    transition: .3s ease;
    cursor: pointer;
    text-decoration: none;
    margin-right: 1rem;
    font-family: 'Work Sans';
    font-weight: 500;
}

.modal__link-btn:active {
    outline: none;
}

.modal__link-btn_secondary {
    background-color: rgba(33, 66, 82, 1);
    margin-left: auto;
}

.modal__link-btn:hover {
    background-color: rgba(33, 66, 82, 1);
    box-shadow: 3px 3px 4px 2px rgba(0,0,0,.4);
}

.modal__link-btn_secondary:hover {
    background-color: #af2d2d;
    box-shadow: 3px 3px 4px 2px rgba(0,0,0,.4);
}