.parallax {
    perspective: 2px;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
}

.parallax__layer {
    position: relative;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.parallax__layer-base {
    transform: translateZ(0);
    background-image: url('../../images/bg-eqns.jpg');
    
    background-repeat: no-repeat;
    background-size: cover; 
}
.parallax__layer-back {
    transform: translateZ(-2px) scale(2);
}