.about__tech-icons-block {
    display: flex;
    max-width: 1200px;
    margin: 64px auto;
    justify-content: space-around;

}

.about__tech-icons-block:hover .about__tech-icon {
    filter: blur(2px);
}

.about__tech-icons-block:hover .about__tech-icon:hover {
    filter: none;
}

@media screen and (max-width: 1150px) {
    .about__tech-icons-block {
        display: grid;
        margin: 2rem auto 0;
        justify-items: center;
        align-items: center;
        gap: 1rem;
    }
}

@media screen and (min-width: 601px) and (max-width: 1150px) {
    .about__tech-icons-block {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media screen and (max-width: 600px) {
    .about__tech-icons-block {
        grid-template-columns: repeat(3, 1fr);
    }
}