.about__tech-icons-block {
    display: flex;
    max-width: 1200px;
    margin: 64px auto;
    justify-content: space-around;
}

.about__tech-icons-block:hover .about__tech-icon {
    filter: blur(2px);
}

.about__tech-icons-block:hover .about__tech-icon:hover {
    filter: none;
}