.about__tech-icon-img {
    width: 100%;
    max-width: 80px;
    object-fit: contain;
    margin: auto 0;
    transition: .2s ease;
}

.about__tech-icon-img-alt {
    width: 80%;
    max-width: 80px;
    display: flex;
    margin: 14px auto auto;
    object-fit: contain;
    transition: .2s ease;
}

@media screen and (max-width: 768px) {
    .about__tech-icon-img {
        margin: .5rem 0;
        height: 60px;
    }

    .about__tech-icon-img-alt {
        margin: .5rem 0;
        height: 60px;
    }
}