.about__tech-icon {
    min-width: 50px;
    max-width: 100px;
    display: flex;
    flex-direction: column;
    margin: 0 14px;
    align-content: center;
    transition: 1.2s .2s ease;
}

.about__tech-icon:hover {
    transform: scale(2);
    transition: .2s 0s ease;
    filter: none;
    z-index: 1;
}


.about__tech-icon:hover .about__tech-icon-name {
    opacity: 1;
    transition: .2s 0s ease;
}