.about__tech {
    color: #fff;
    font-weight: 600;
    text-align: right;
    margin: 0 auto;
    width: 90%;
}

@media screen and (max-width: 1300px) {
    .about__tech {
        width: 100%;
    }
}

@media screen and (max-width: 900px) {
    .about__tech {
        padding: 0 0 60px;
    }
}
