@import url('./about__me-text.css');
@import url('./about__title.css');
@import url('./about__me.css');
@import url('./about__tech-icons-block.css');
@import url('./about__tech-icon.css');
@import url('./about__tech.css');
@import url('./about__tech-icon-img.css');
@import url('./about__tech-icon-name.css');

.about {
    width: 100vw;
    background-image: url('../../images/bg-triangles.png');
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover; 
    padding: 8vw;
    box-sizing: border-box;
}