.about {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(190, 12, 48, 0.8);
    /* background-color: rgba(220, 20, 60, .8); */
}

.about__title {
    text-align: center;
    margin: 80px 50px;
    font-size: 44px;
    line-height: 44px;
    font-weight: bold;
}

.about__content {
    display: grid;
    margin: 0 30px 50px;
    grid-template-areas: 
        "intro  resume"
        "skills contact";
    grid-template-columns: 3fr 2fr;
    gap: 50px;
    max-width: 1000px;  
}

.about__intro {
    grid-area: "intro";
    padding: 14px;
    background-size: 50px;
    background-repeat: no-repeat;
    background-position: 14px 20px;
    background-color: rgba(0,0,0,.3);
    border-radius: 8px;
}

.about__lead {
    font-size: 24px;
    font-weight: bold;
    margin: 34px 0 20px 64px;
}

.about__lead-right {
    margin: 34px 64px 20px 0;
}

.about__text {
    margin-bottom: 12px;
    text-align: justify;
}

.about__text:nth-of-type(2) {
    margin-bottom: 0;
}

.about__resume {
    grid-area: "resume";
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 14px;
    background-size: 50px;
    background-repeat: no-repeat;
    background-position: calc(100% - 14px) 20px;
    background-color: rgba(0,0,0,.3);
    border-radius: 8px;
}

.about__resume-icon {
    width: 138px;
    height: 177px;
    background-repeat: no-repeat;
    background-size: contain;
    align-self: center;
    box-shadow: 5px 5px 10px black;
    transition: opacity .2s linear;
}

.about__resume-icon:hover {
    opacity: .8;
}

.about__skills {
    grid-area: "skills";
    padding: 14px;
    background-size: 50px;
    background-repeat: no-repeat;
    background-position: 14px 20px;
    background-color: rgba(0,0,0,.3);
    border-radius: 8px;
}

.about__skill-icons {
    display: flex;
    align-items: center;
    margin: 20px 20px 30px;
    padding-left: 20px;
    background-color: rgba(0,0,0,.5);
    border-radius: 8px;
    height: 90px;
    width: min-content
}

.about__skill-icon {
    width: 50px;
    height: 50px;
    margin-right: 20px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.about__contact {
    grid-area: "contact";
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 14px;
    background-size: 50px;
    background-repeat: no-repeat;
    background-position: calc(100% - 14px) 20px;
    background-color: rgba(0,0,0,.3);
    border-radius: 8px;
}

.about__contact-link {
    width: 50px;
    height: 50px;
    background-image: url(../images/down-white.png);
    background-size: contain;
    margin: auto auto;
    transition: background-image .2s ease-in-out;
}

.about__contact-link:hover {
    background-image: url(../images/down-gray.png);
}

.about__button {
}