.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(0, 0, 0, .5);
    color: white;
    height: 100vh;
}

.header__title {
    margin-top: 35vh;
    font-size: 80px;
    line-height: 80px;
    font-weight: 700;
}

.header__subtitle {
    margin-top: 40px;
    font-size: 50px;
    line-height: 80px;
    font-weight: 700;
    margin-bottom: 100px;
}

.header__pointer {
    width: 50px;
    height: 50px;
    background-image: url(../images/down-white.png);
    background-size: contain;
    margin: 0px auto;
    transition: background-image .3s ease-in-out;
}

.header__pointer:hover {
    background-image: url(../images/down-crimson.png);
}