.portfolio {
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: relative;
    /* background-color: rgba(255, 255, 255, .2); */
    background-color: rgba(50,50,50, .8);
}

.portfolio__title {
    text-align: center;
    margin: 100px 50px;
    font-size: 44px;
    line-height: 44px;
    font-weight: bold;
}

.portfolio__grid {
    display: grid;
    align-self: center;
    margin-bottom: 100px;
    gap: 14px;
    width: 1240px;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
}

/* Temporary Construction Classes */
.portfolio__construction {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100%;
    background-color: rgba(20,20,20, .9);
    justify-items: center;
}

.portfolio__construction-title {
    text-align: center;
    margin: 100px auto;
    font-size: 44px;
    line-height: 44px;
    font-weight: bold;
    text-shadow: 3px 3px black;
}
