.portfolio {
    display: flex;
    justify-content: center;
    flex-direction: column;
    /* background-color: rgba(255, 255, 255, .2); */
    background-color: rgba(50,50,50, .8);
}

.portfolio__title {
    text-align: center;
    margin: 100px 50px;
    font-size: 44px;
    line-height: 44px;
    font-weight: bold;
}

.portfolio__grid {
    display: grid;
    align-self: center;
    margin-bottom: 100px;
    gap: 14px;
    width: 1240px;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
}