@import url('./vendor/reset.css');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;600;700&display=swap');
@import url('./blocks/header/header.css');
@import url('./blocks/about/about.css');
@import url('./blocks/content/content.css');
@import url('./blocks/parallax/parallax.css');
@import url('./blocks/projects/projects.css');
@import url('./blocks/contact/contact.css');
@import url('./blocks/footer/footer.css');
@import url('./blocks/misc/svg-shadow.css');
@import url('./blocks/misc/bold.css');

.page {
  margin: 0;
  font-family: 'Work Sans',sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}