.header__btn {
    width: 80px;
    height: 80px;
    border: none;
    background: url('../../images/header-btn.svg');
    background-repeat: no-repeat;
    background-size: contain;
    transform-origin: center;
    transition: .2s ease-in-out;
    cursor: pointer;
}

.header__btn_div {
    width: 80px;
    height: 80px;
    
    margin: auto;
    padding: 0 2rem 0 0;
}

.header__btn:focus {
    outline: none;
}

.header__btn:hover {
    transform: scale(1.2) rotate(90deg);
}

@media screen and (max-width: 650px) {
    .header__btn {
        width: 50px;
        height: 50px;
    }
}